#content-bar {
    position: relative;
    background: #404154;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-popular {
    position: relative;
    background-image: url("../images/background.svg");
    background-color: #38394A;
    border: solid #1B1E24 1px;
    border-radius: 15px;
    width: 72vw;
    height: auto;
    min-height: 90vh;
    top: -3vh;
}

#content-popular span {
    background: #8B446C;
}

#categories-bar {
    position: relative;
    width: 100%;
    height: 12vh;
    background: #323241;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    font-weight: bold;
}

#categories-popular-text {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-bar-button-wrapper {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.categories-bar-button-wrapper label {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 85%;
    width: 53%;
    background: #292936;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
}

#manga_label:hover, #manhva_label:hover {
    height: 90% !important;
    width: 55% !important;
    background: #4D4E65 !important;
}

#manhva:checked ~ #content-popular #manhva_label,
#manga:checked ~ #content-popular #manga_label {
    height: 90%;
    width: 55%;
    background: #4D4E65;
}

#manga:checked ~ #content-popular #manhva_label,
#manhva:checked ~ #content-popular #manga_label {
    height: 85%;
    width: 53%;
    background: #292936;
}

.content-popular-list {
    position: relative;
    width: auto;
    height: 88vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0vw 2vw 0vw 2vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: baseline;
    overflow-y: overlay;
    overflow-x: hidden;
}

.content-popular-element-wrapper {
    position: relative;
    width: 33vw;
    height: 60vh;
    min-height: 380px;
    max-height: 490px;
    margin: 3vh 0 3vh 0; /*менять на 1vh в вертикали*/
    border-radius: 5px;
    text-align: center;
}

.content-popular-element {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #292936;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.content-popular-wrapper h5, .content-popular-wrapper h6 {
    position: relative;
    text-align: left;
    height: inherit;
}

.content-popular-image {
    position: relative;
    width: 35%;
    height: 45%;
    box-sizing: border-box;
    margin-left: 1vw;
    top: 1vw;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.content-popular-image>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    box-sizing: border-box;
}

.content-popular-info {
    position: relative;
    top: 1vw;
    width: calc(65% - 1vw);
    height: 45%;
}

.content-popular-description {
    position: relative;
    height: 40%;
    overflow: hidden;
    padding: 1vw 1vw 0 1vw;
    text-align: left;
}

.content-popular-button {
    position: relative;
    /*top: 5%;*/
    width: 100%;
    height: calc(15% - 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-popular-button>button {
    position: relative;
    /*margin-top: 5%;*/
    height: auto;
}

#manhva:checked ~ #content-popular .manhva,
#manga:checked ~ #content-popular .manga{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#manhva:checked ~ #content-popular .manga,
#manga:checked ~ #content-popular .manhva{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

.content-popular-list::-webkit-scrollbar-corner {
    opacity: 0;
}

.content-popular-list::-webkit-scrollbar {
    width: 20px;
}
.content-popular-list::-webkit-scrollbar-track {
    background-color: transparent;
}
.content-popular-list::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
.content-popular-list::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}